@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="color:darkslategray;">
    <h1 style="color:black;">Humraah</h1>
    <p class="lead"  style="color:black;">Hum or aap, Humraah!</p>
    <p class="btn-block"> To book or register an ambulance, @Html.ActionLink("Register", "Register", "Account")</p>
</div>

