@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Habib University<br />
    <abbr title="Phone">P:</abbr>
    0312-9955060
</address>

<address>
    <strong>Kainat:</strong>   <a href="mailto:ka04051@st.habib.edu.pk">ka04051@st.habib.edu.pk</a><br />
    <strong>Mudasir:</strong> <a href="mailto:ms03831@st.habib.edu.pk">ms03831@st.habib.edu.pk</a>
</address>