@model IEnumerable<Humraaah.Models.Booking>

@{
    ViewBag.Title = "Bookings";
}

<h2>Your Bookings</h2>

@Ajax.ActionLink("All Bookings", // <-- Text to display
                 "GetAll", // <-- Action Method Name
                 "Bookings",
                 new AjaxOptions
                 {
                     UpdateTargetId= "BookingsList", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 })

|

@Ajax.ActionLink("Current Bookings", // <-- Text to display
                 "Current", // <-- Action Method Name
                 "Bookings",
                 new AjaxOptions
                 {
                     UpdateTargetId= "BookingsList", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 })



<!--
    as
@{
    var str = new List<string>() { "yes", "no" };
    ViewBag.lst = new SelectList(str);
}

View only past bookings: @Html.DropDownList("bookingFilter", (IEnumerable<SelectListItem>)ViewBag.lst, "", new { id = "bookingFilter" })
<input type="submit" id="filter" value="Filter" />



<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {
        $("#filter").click(function () {
            var bookingFilter = $("#bookingFilter").val();
            var SetData = $("#bksList");
            SetData.html("");
            //var btn = "<tr><td>" + "@@" + "Html.ActionLink(\"Book\", \"Book\", new {" + "@@" + "class =" + "\"btn btn-primary\"})</td><tr/>";
            //SetData.append(btn);
            $.ajax({
                type: "post",
                url: "/Booking/GetBookings?bookingFilter=" + bookingFilter,
                contentType: "html",
                success: function (result) {
                    if (result.length == 0) {
                        SetData.append('<tr style="color:red"><td colspan="3">No Past Bookings</td></tr>')
                    }
                    else {
                        $.each(result, function (index, value) {
                            var Data = "<tr>" +
                                "<td>" + value.Driver.Name + "</td>" +
                                "<td>" + value.Driver.Phone + "</td>" +
                                "<td>" + value.Ambulance.Color + "</td>" +
                                "<td>" + value.Ambulance.Plate + "</td>" +
                                "<td>" + value.Date + "</td>" +
                                "<td>" + value.CurrentlyActive + "</td>" +
                                "</tr>";
                            SetData.append(Data);
                        });
                    }
                }
            });
        });
    });
</script>
-->


<div id="BookingsList"></div>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}